#!/usr/bin/make -f

#export DH_VERBOSE = 1

%:
	dh $@

execute_after_dh_install:
	sed -i -e 's,@DEB_HOST_MULTIARCH@,$(DEB_HOST_MULTIARCH),g' debian/tailscale-initramfs/usr/share/initramfs-tools/hooks/tailscale

execute_after_dh_fixperms:
	chmod 600 debian/tailscale-initramfs/etc/tailscale/initramfs/config

override_dh_builddeb:
	# Workaround for building on Ubuntu and installing on Debian prior to
	# Bookworm (Ubuntu uses zstd). https://bugs.debian.org/892664
	dh_builddeb -- -Zxz
