---
name: Build package

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

  workflow_dispatch:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: ShellCheck
        uses: ludeeus/action-shellcheck@1.1.0
        env:
          SHELLCHECK_OPTS: -e SC1091

      - name: Build Debian package
        uses: jtdor/build-deb-action@v1
        with:
          buildpackage-opts: --no-sign --check-command=lintian
          extra-build-deps: lintian

      - name: Upload debian package as artifact
        uses: actions/upload-artifact@v2
        with:
          name: deb
          path: debian/artifacts
